@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

.inputs-form {
  @apply w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm  transition-colors;
  @apply focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500;
}

.primary-button-app{
    /*@apply w-full mt-2 px-4 py-2.5 bg-indigo-600 hover:bg-indigo-700 disabled:bg-indigo-300 text-white font-medium rounded-md shadow-sm transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:cursor-not-allowed*/
    @apply w-full mt-2 px-4 py-2.5 bg-blue-800 hover:bg-blue-900 disabled:bg-gray-300 text-white font-medium rounded-md shadow-sm transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:cursor-not-allowed
}
.yellow-button-app{
    /*@apply w-full mt-2 px-4 py-2.5 bg-indigo-600 hover:bg-indigo-700 disabled:bg-indigo-300 text-white font-medium rounded-md shadow-sm transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:cursor-not-allowed*/
    @apply w-full mt-2 px-4 py-2.5 bg-yellow-500 hover:bg-yellow-400 disabled:bg-gray-400 text-white font-medium rounded-md shadow-sm transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-300 disabled:cursor-not-allowed
}

.green-button-app{
    
    @apply w-full mt-2 px-4 py-2.5 bg-emerald-500 hover:bg-emerald-400 disabled:bg-gray-400 text-white font-medium rounded-md shadow-sm transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-300 disabled:cursor-not-allowed
}

    #table-body tbody tr:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.03);
    }

    /* Efecto hover global para todas las filas */
    #table-body tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.15);
        transition: background-color 0.2s ease-in-out;
    }

    /* Asegurar que el cursor sea tipo puntero al pasar sobre la fila */
    #table-body tbody tr {
        cursor: pointer;
    }

    #table-body tbody tr:hover td:nth-child(N) {
        color:oklch(85.2% 0.199 91.936);
    }